/* You can add global styles to this file, and also import other style files */
body,
select,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0rem;
}

select,
button {
  padding: 0 0.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
